<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../base/head'); %>
</head>

<body>

<header>
    <%- include('../base/navegation', {variant:'-user'}); %>
</header>

<div class="conteiner p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>SignIn</h3>
                </div>
                <div class="card-body">
                    <form action="/signin" method="POST">
                        <div class="form-group mt-1">
                            <input type="text" name="username" placeholder="&#128100; Username" class="form-control">
                        </div>

                        <div class="form-group mt-1">
                            <input type="password" name="password" placeholder="&#x1F512; Password" class="form-control">
                        </div>

                        <div class="form-group mt-3">
                            <button class="btn btn-success btn-block rounded-pill">
                                SignIn
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <p>¿Nuevo en la página? <a href="./signup">Registrate</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="js/script.js"></script>
</body>

</html>