<div class="conteiner p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>SignIn</h3>
                </div>
                <div class="card-body">
                    <img src="/img/logo.png" alt="Logo fazt" class="card-img-top w-50 mx-auto m-2 rounded-circle">
                    <form action="/signin" method="POST">


                        <div class="form-group">
                            <input type="text" name="username" placeholder="&#128100; Username" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" placeholder="&#x1F512; Password" class="form-control">
                        </div>

                        <div class="form-goup">
                            <button class="btn btn-success btn-block rounded-pill">
                                SignIn
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
