/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us .content {
    padding: 30px 0;
  }
  .about-us .content h3 {
    font-weight: 700;
    font-size: 34px;
  }
  .about-us .content p {
    margin-bottom: 0;
  }
  .about-us .content .icon-box {
    margin-top: 25px;
  }
  .about-us .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
  }
  .about-us .content .icon-box i {
    font-size: 48px;
    float: left;
    color: #f03c02;
  }
  .about-us .content .icon-box p {
    font-size: 15px;
    color: #90847f;
    margin-left: 60px;
  }
  .about-us .image {
    /* background: url("../img/about.webp") center center no-repeat; */
    background-size: cover;
    min-height: 400px;
  }
  @media (max-width: 991px) {
    .about-us .image {
      text-align: center;
    }
    .about-us .image img {
      max-width: 80%;
    }
  }
  @media (max-width: 667px) {
    .about-us .image img {
      max-width: 100%;
    }
  }
  
  /*--------------------------------------------------------------
  # Our Team
  --------------------------------------------------------------*/
  .team .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  .team .member .member-img {
    position: relative;
    overflow: hidden;
  }
  .team .member .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .team .member .social a {
    transition: color 0.3s;
    color: #2b2320;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .team .member .social a:hover {
    color: #f03c02;
  }
  .team .member .social i {
    font-size: 18px;
    line-height: 0;
  }
  .team .member .member-info {
    padding: 25px 15px;
  }
  .team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #2b2320;
  }
  .team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #b4aca8;
  }
  .team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #847872;
  }
  .team .member:hover .social {
    opacity: 1;
  }
  