body {
    background-color: #3bb2b8;
    background: linear-gradient( 25deg, rgba(66, 230, 149, 1), rgba(66, 32, 149, 1));
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.container-box {
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

table {
    background-color: white;
    border-radius: 10px;
    border: 5px solid lightgrey;
}

.nav-enlace {
    display: inline-block;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover {
    background: pink;
}

.menu-nav {
    padding: 20px 30px;
    background: rgb(175, 118, 248);
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.nav-button {
    background: black;
    color: white;
    padding: 10px 0;
    border: 2px solid white;
    display: none;
}

h1 {
    color: black;
    font-size: 50px;
    font-family: cursive;
    display: block;
    justify-content: center;
    margin: 20px 20px;
    background-color: lightpink;
}

@media (max-width: 600px) {
    .menu-nav {
        background: black;
        flex-direction: column;
        width: 100%;
    }
    .nav-enlace {
        margin: 10px 0;
    }
    .nav-button {
        display: inline-block;
    }
    .desaparece {
        display: none;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 100vw!important;
    max-height: 100vh!important;
}

.nav-icon {
    width: 50px;
}

.primary-btn {
    background-color: #6cc24a;
    color: #fff;
}

.primary-btn:hover {
    background-color: transparent;
    border-color: #6cc24a;
    color: #6cc24a;
}

.secondary-btn {
    background-color: transparent;
    border-color: #6cc24a;
    color: #6cc24a;
}

.secondary-btn:hover {
    background-color: #6cc24a;
    color: #fff;
}

.edit-btn {
    background-color: yellow;
    color: #000;
}

.delete-btn {
    background-color: #f72828;
    color: #000;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#message-div {
    border: 2px solid lightgrey;
    background-color: #f8f9fa;
    padding: 30px;
}