<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../base/head'); %>
</head>

<body>

    <%- include('../base/navegation', {variant:'-category'}); %>

    <br>
    <div class="container container-box">
        <div class="text-center">
            <h2>Info de Categoria</h2>
        </div>
        <br>
        <form action="./edit-category" method="POST">
            <input type="hidden" name="id" value="<%= register.id %>">
            <div class="row">
                <div class="col-12">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" name="name" id="name" class="form-control" value="<%= register.name %>">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="float-start">
                        <button type="submit" class="btn primary-btn">Actualizar Categoria</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="float-end">
                        <a href=".." class="btn secondary-btn">Volver al home</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <!-- Vendor JS Files -->
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <script src="public/js/main.js"></script>
</body>

</html>