<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include('../head'); %>
</head>

<body>

<header>
  <%- include('../navegation'); %>
</header>
  <br>
  <div class="row container centered" width="100vw">
    <div class="text-center">
      <h2>Tabla de usuarios</h2>
    </div>
    <br>
    <br>
    <br>
    <table class="table table-hover">
      <thead>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Provincia</th>
        <th scope="col">Creado</th>
        <th scope="col">Actualizado</th>
        <th scope="col">Acciones</th>
      </thead>
      <tbody>
        <%- include('../table', {variant:'users'}); %>
      </tbody>
    </table>
    <br>
    <br>
    <div class="float-start">
      <a href="./add" class="btn primary-btn">Adicionar usuário</a>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</body>

</html>