<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../base/head'); %>
</head>

<body>

    <%- include('../base/navegation', {variant:'-product'}); %>

    <br>
    <div class="container container-box">
        <div class="text-center">
            <h2>Tabla de Producto</h2>
        </div>
        <br>
        <form action="./add-product" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="price" class="form-label">Precio</label>
                    <input type="text" name="price" id="price" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <label for="category" class="form-label">Categoria</label>
                    <select name="category" id="category" class="form-select">
                    <option value="" selected disabled>Seleccione categoria</option>
                    <% categories.forEach(function(category) { %>
                        <option value="<%= category.id %>">
                            <%= category.name %>
                        </option>
                      <% }) %>
                </select>
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="detail" class="form-label">Detalle</label>
                    <!-- <input type="text" name="detail" id="detail" class="form-control"> -->
                    <textarea name="detail"  id="detail" class="form-control" rows="3" cols="50"></textarea>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <label for="image" class="form-label">Imagen</label>
                    <input type="file" name="image" id="image" multiple/>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="float-start">
                        <a href=".." class="btn btn-secondary">Volver al home</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="float-end">
                        <button type="submit" class="btn btn-primary">Agregar Producto</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <!-- Vendor JS Files -->
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="public/js/main.js"></script>
</body>

</html>