  
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/img/salon.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Bienvenido a <span>SolCi</span></h2>
              <p>Esta peluqueria se destaca por la atención personalizada, por preocuparse por que el cliente salga 100% conforme.</p>
              <div class="text-center"><a href="" class="btn-get-started">Leer más</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(/img/protocolo_covid.jpeg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Protocolo COVID-19</h2>
              <p>Nuestro establecimiento cumple con estrictas normas de seguridad e higiene para que nuestros clientes estan protegidos contra el virus SARS-COV-2.</p>
              <div class="text-center"><a href="" class="btn-get-started">Leer más</a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-caret-left-fill" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-caret-right-fill" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->