  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="..">SolCi</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
            <li><a href="..">Inicio</a></li>

            <li><a href="./about">Sobre nosotros</a></li>
        
            <% if(login_user){ %>
        
                <% if(login_user.is_admin){ %>
                  <li class="dropdown"><a href="#"><span>Administración</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <a href="./user">Listar Usuarios</a>
                      </li>
                      
                      <li>
                        <a href="./appointment">Listar Turnos</a>
                      </li>
      
                      <li>
                          <a href="./product">Listar Productos</a>
                      </li>
                      
                      <li>
                          <a href="./category">Listar Categoría</a>
                      </li>
                      <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                        <ul>
                          <li><a href="#">Deep Drop Down 1</a></li>
                          <li><a href="#">Deep Drop Down 2</a></li>
                          <li><a href="#">Deep Drop Down 3</a></li>
                          <li><a href="#">Deep Drop Down 4</a></li>
                          <li><a href="#">Deep Drop Down 5</a></li>
                        </ul>
                      </li> -->
                    </ul>
                  </li>
                    
                    <li>
                        <form action="./search<%= variant %>" method="GET">
                        
                            <input class="form-control m-2" type="search" placeholder="Buscar" aria-label="Buscar" name="search">
            
                        </form>
                    </li>
            
                <% } else{ %>
                    <li>
                        <a href="./profile">Perfil</a>
                    </li>
                <% } %>
                
                <li>
                    <a href="./logout"><i class="bi bi-box-arrow-left"></i></a>
                </li>
            <% } else{ %>
                <li>
                    <a href="./signin"><i class="bi bi-box-arrow-right"></i></a>
                </li>
            <% } %>
            
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
