<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href=".."><img src="img/icon.png" alt="Node.js icon" class="nav-icon"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="..">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./user">Listar Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./product">Listar Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./category">Listar Categoria</a>
                </li>
            </ul>
            <form class="d-flex" action="./search<%= variant %>" method="GET">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" name="search">
                <button class="btn secondary-btn" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>